* {
  margin-bottom: 0;
  margin-top: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  margin: 0 auto;
  width: 200px;
}

.logo img {
  margin: 20px auto 0;
  max-width: 75%;
}

.logoTitle {
  color: white;
  text-align: center;
}

.loginFormTunes {
  background-image: linear-gradient(rgb(247, 38, 132), rgb(72, 12, 168));
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.loginFormTunes .inputLogin {
  border-radius: 15px;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 200px;
}

.loginFormTunes button {
  background-image: linear-gradient(rgb(67, 97, 238), rgb(72, 149, 239));
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 900;
  height: 30px;
  margin: 10px auto auto;
  width: 80px;
}
