.headerTunes {
  background-image: linear-gradient(to left, rgba(247, 38, 132), rgba(72, 12, 168));
  color: white;
  font-weight: 400;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.headerTunesTransparent {
  backdrop-filter: blur(5px);
  background-image: linear-gradient(to left, rgba(247, 38, 132, 0.5), rgba(72, 12, 168, 0.5));
  color: white;
  font-weight: 400;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.headerContent {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.userInfo {
  align-items: center;
  display: flex;
  flex-grow: 1;
  font-size: 15px;
}


.smallLogo {
  display: flex;
  flex-direction: column;
  font-size: 50%;
  max-height: 100px;
  width: 100px;
}

.smallLogo img {
  margin: 0 auto;
  max-height: 75%;
}

.userImage {
  border-radius: 50%;
  width: 100px;
}

.headerMenu {
  align-items: center;
  display: flex;
}

.pageLink {
  background-image: linear-gradient(to top, rgb(67, 97, 238), rgb(72, 149, 239));
  color: white;
  flex-grow: 1;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
}

@media only screen and ( max-width : 1020px ) {

  .headerContent {
    padding: 0 5px;
  }

  .userInfo h1 {
    font-size: 15px;
  }

  .userImage {
    width: 60px;
  }

  .smallLogo {
    max-height: 80px;
  }
}
